{% extends "base.html" %} {% block content %}
<main>
  <div>
    <h1>Lista de Projectos</h1>
    <a href="/create_project">Apuntar Nuevo Projecto</a>
    <ul>
      {% for project in projects %}
      <header>
        {% if project.important %}
        <h2>{{project.title}}</h2>
        {% else %}
        <h3>{{project.title}}</h3>
        {% endif %}
      </header>
      <p>{{project.description}}</p>
      <p>{{project.subject}}</p>
      <p>{{project.examdate|date:'M j Y'}}</p>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
