{% extends "base.html" %} {% block content %}
<main>
  <div>
    <h1>Lista de Projectos</h1>
    <a style="text-decoration: none" href="{% url 'create_project' %}"
      >Apuntar Nuevo Projecto</a
    >
    <ul>
      {% for project in projects|dictsort:"examdate" %}
      <a
        style="text-decoration: none; color: black"
        href="{% url 'project_detail' project.id %}"
      >
        <header>
          {% if project.important %}
          <h2>{{project.title}}</h2>
          {% else %}
          <h3>{{project.title}}</h3>
          {% endif %}
        </header>
        <p>{{project.description}}</p>
        <p>{{project.subject}}</p>
        <p>{{project.examdate|date:'M j Y'}}</p>
        {% endfor %}
      </a>
    </ul>
  </div>
</main>
{% endblock %}
